.btn {
	border-radius: var(--border-radius-200);
	color: var(--text-light);
	cursor: pointer;
	display: inline-block;
	font-weight: var(--font-weight-700);
	padding: var(--space-150) var(--space-200);
	text-decoration: none;
	text-align: left;
	transition: var(--transition-200);
}

.btn--primary {
	background-color: var(--background-interaction-primary);
	border: var(--border-width-200) solid var(--border-primary);
}

.btn--primary:hover,
.btn--primary:focus,
.btn--primary:active {
	background-color: var(--background-interaction-primary-hover);
	border-color: var(--border-primary-hover);
	transition: var(--transition-200);
}

.btn--secondary {
	background-color: var(--background-interaction-secondary);
	border: var(--border-width-200) solid var(--border-secondary);
	color: var(--text-light);
}

.btn--secondary:hover,
.btn--secondary:focus,
.btn--secondary:active {
	background-color: var(--background-interaction-secondary-hover);
	border-color: var(--border-secondary-hover);
	color: var(--text-dark);
	transition: var(--transition-200);
}

.btn-group {
	display: flex;
	gap: var(--space-150);
}
