.btn {
	border-radius: var(--border-radius-0);
	color: var(--color-white);
	cursor: pointer;
	display: inline-block;
	font-weight: var(--font-weight-700);
	padding: var(--space-150) var(--space-200);
	text-decoration: var(--font-text-decoration-none);
	text-align: left;
	transition: var(--transition-200);
}

.btn--primary {
	background-color: var(--semantics-color-background-interaction-primary);
	border: var(--border-width-200) solid var(--semantics-color-border-brand);
}

.btn--primary:hover,
.btn--primary:focus,
.btn--primary:active {
	background-color: var(--color-primary-600);
	border-color: var(--color-primary-600);
	transition: var(--transition-200);
}

.btn--secondary {
	background-color: var(--semantics-color-background-interaction-primary-inverted);
	border: var(--border-width-200) solid var(--semantics-color-border-brand);
	color: var(--semantics-color-text-brand);
}

.btn--secondary:hover,
.btn--secondary:focus,
.btn--secondary:active {
	background-color: var(--color-primary-600);
	border-color: var(--color-primary-600);
	color: var(--color-white);
	transition: var(--transition-200);
}

.btn-group {
	display: flex;
	gap: var(--space-150);
}
