.header-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--space-100) var(--space-200);
	position: relative;
	transition: var(--transition-200);
}

.header-wrapper:has(.is-open) .claim {
	fill: var(--color-primary-700);
	transition: var(--transition-200);
}

.brand {
	display: flex;
	align-items: center;
	z-index: var(--z-index-5);
}

.claim {
	fill: var(--color-primary-700);
	margin-top: calc(var(--space-100) / 2);
}

.claim--xl {
	display: none;
}

@media (min-width: 42em) {
	.claim--small {
		display: none;
	}

	.claim--xl {
		display: block;
	}
}
