.hero {
	margin: 0 auto;
	position: relative;
}

.hero__grid {
	display: grid;
}

.hero__content {
	display: flex;
	flex-direction: column;
	gap: var(--space-400);
}

.hero__headline {
	color: var(--headline-light);
	font-size: clamp(3rem, 1rem + 8vw, 7rem);
	line-height: var(--heading);
	text-align: center;
	transition: var(--transition-200);
}

.hero__headline span {
	display: block;
	font-size: clamp(3rem, 1rem + 8vw, 9rem);
}

.hero__byline {
	color: var(--text-light);
	font-size: var(--font-size-400);
}

.hero__image {
	display: none;
}

.hero__grid--has-image .hero__headline {
	font-size: clamp(3rem, 1rem + 8vw, 5rem);
	text-align: left;
}

@media (min-width: 48em) {
	.hero__grid--has-image {
		gap: var(--space-800);
		grid-template-columns: repeat(2,minmax(0,1fr));
	}
	
	.hero__image {
		/* box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
		display: block;
		height: 100%;
		object-fit: cover;
	}
}
