.section {
	position: relative;
}

.section__hero {
	background: linear-gradient(
		315deg,
		var(--globals-purple-200) 25%,
		var(--globals-turquoise-500)
	);
	background-color: var(--globals-neutral-900);
	padding: calc(3 * var(--globals-space-800)) 0;
}

.section__hero ~ * {
	margin: calc(2 * var(--globals-space-600)) 0 0;
}

.section__heading {
	background-color: var(--globals-neutral-100);
	border: var(--globals-border-width-700) solid var(--globals-neutral-900);
	display: inline-block;
	margin-bottom: var(--globals-space-600);
	padding: var(--globals-space-100) var(--globals-space-300);
}

.section__heading:before {
	background-color: var(--globals-neutral-900);
	content: "";
	display: block;
	height: var(--globals-border-width-700);
	width: 100%;
	position: absolute;
	left: 0;
	top: 2rem;
	z-index: -1;
}

.section .card {
	margin-bottom: var(--globals-space-600);
}
