.section {
	position: relative;
}

.section__hero {
	background: linear-gradient(
		315deg,
		var(--color-blue-300) 25%,
		var(--color-orange-300)
	);
	background-color: var(--color-blue-700);
	padding: calc(3 * var(--space-800)) 0;
}

.section__hero ~ * {
	margin: calc(2 * var(--space-600)) 0 0;
}

.section__heading {
	color: var(--color-neutral-700);
	margin-bottom: var(--space-600);
}

.section .card {
	margin-bottom: var(--space-600);
}
